[Unit]
Description=teres1-ledctrl
After=basic.target

[Service]
ExecStart=/usr/bin/teres1-ledctrl /dev/input/by-id//usb-Olimex_Ltd._TERES_Keyboard+Touchpad_8413335303835191A1F0-event-kbd
TimeoutStopSec=1
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=basic.target
